<div class="container">
  <h1>Order Info</h1>
</div>

<div class="container">
<% @order.carted_products.each do |carted_product| %>
  <p>Name: <%= carted_product.product.name %></p>
  <p>Quantity: <%= carted_product.quantity %></p>
<% end %>
</div>