<div class="container">
  <h1>Congrats! Product added to your cart.</h1>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @carted_products.each do |carted_product| %>
        <tr>
          <th scope="row"><%= carted_product.id %></th>
          <td><%= carted_product.product.title %></td>
          <td><%= carted_product.quantity %></td>
          <td><%= number_to_currency(carted_product.product.price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>